<div class="row header">
    <div class="col-lg-12 text-center">
        <h1 class="visible-md visible-lg">
            <span class="blur-md">S</span> <span class="blur-hv">O</span> <span class="blur-lt">N</span>
            <span class="blur-md">G</span> <span class="blur-lt">S</span> <span class="blur-md">W</span>
            <span class="blur-hv">E</span> <span class="blur-lt">L</span> <span class="blur-hv">L</span>
        </h1>
        <h2 class="visible-sm">
            <span class="blur-md">S</span> <span class="blur-hv">O</span> <span class="blur-lt">N</span>
            <span class="blur-md">G</span> <span class="blur-lt">S</span> <span class="blur-md">W</span>
            <span class="blur-hv">E</span> <span class="blur-lt">L</span> <span class="blur-hv">L</span>
        </h2>
        <h3 class="visible-xs">
            <span class="blur-md">S</span> <span class="blur-hv">O</span> <span class="blur-lt">N</span>
            <span class="blur-md">G</span> <span class="blur-lt">S</span> <span class="blur-md">W</span>
            <span class="blur-hv">E</span> <span class="blur-lt">L</span> <span class="blur-hv">L</span>
        </h3>
    </div>
</div>

<div class="row content" ng-repeat="album in albums">
    <ss-thumb album="album"></ss-thumb>
</div>